// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
    direction: rtl;
}

body {
    text-align: right;
    font-family: 'Tajawal', sans-serif;
    background-color: #fff;
}

.error {
    color: $red;
}

.thumbnail {
    width: 100%;
}

a {
    color: #8dffef;

    &:hover, &:focus {
        color: #caefe9;
    }
}
